.advantages {
	outline: 2px solid blue;
}

.advantages__item {
	padding-top: 40px;
	padding-bottom: 40px;

	&--blue {
		background-color: @color-blue;
		text-align: center;
		color: white;
	}

	&--grey {
	background-color: @color-lightgrey;
	}
}

.advantages__title {
	.font-bold (18px, 26px);
	margin-bottom: 16px;

}

.advantages__counter {
	.font-regular (14px, 21px);
	margin-bottom: 16px;

  &-grey {
  color: @color-grey;
  }
}

.advantages__slogan {
  .font-regular (14px, 21px);
  margin-bottom: 16px;

  &-grey {
  color: @color-grey;
  }
}
