.btn {

  display: block;
  padding: 16px;
  cursor: pointer;
  .font-bold(21px,26px);
  color: @color-white;
  text-align: center;
  text-decoration: none;
  background-color: #81b3d2;


  &:hover,
  &:focus {
    color: @color-white;
    background-color: #669ec0;
  }
  &:active {
    color: rgba(255,255,255, 0.3);;
    background-color: #5496bd;
  }

  &--find-hotel {
    width: 460px;
  }

  &--send {
    width: 280px;
  }
}
