.footer-content {
	outline: 2px dashed green;
	padding-top: 40px;
	padding-bottom: 24px;
}

.footer-content__copyright {
	.font-regular (14px, 26px);
  outline: 2px dashed green;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;

}

.footer-content__design-by {
  padding-right: 5px;
}

@media @tablet-widths {

  .footer-content {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: auto;
    min-height: 120px;
    margin: 0 60px;
  }
}
