.form {
  margin: 0;
  padding: 20px;
  outline: 2px dashed blue;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
}
.form__fieldset {
  padding: 0;
  border: none;
  outline: 1px solid black;
    &--visit-places {
        width: 100%;
    }
    &--emotion {
        width: 100%;
    }
    &--user-contact {
        width: 100%;
    }
}


.form__legend {
  margin: 0;
  padding: 24px 0;
	.font-bold (18px, 26px);
  text-align: center;
}

.form__label {
	.font-regular (14px, 26px);
  color: @color-grey;
	margin-right: 18px;

  &--bold {
	 .font-bold (18px, 26px);
	 text-transform: none;
  }
}

.form__textarea {
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
  min-height: 160px;
  background-color: #f2f2f2;
  .font-bold (18px, 26px);
  text-transform: none;
  color: @color-black;
  box-sizing: border-box;

}

.form__input {

	margin-bottom: 20px;
  padding: 16px 0;
  border: none;
  width: 180px;
  .font-bold (18px, 26px);
  text-transform: none;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    outline: 5px solid #e5e5e5;
    background-color: @color-white;
  }

}
@media @tablet-widths {
  .form__fieldset {
      &--user-name {
        -webkit-flex-grow: 1;
      }
      &--reply {
        -webkit-order: -1;
         -webkit-flex-grow: 1;
      }
      &--visit-places {
        width: 100%;
      }

  }
}
