.hotel-find {
	outline: 2px dashed blue;
	padding-top: 30px;
	padding-bottom: 48px;
}

.hotel-find__text {
	.font-regular (14px, 24px);
  color: @color-grey;
	margin-bottom: 40px;
	text-align: center;

	strong {
		.font-bold (21px, 26px);
		display: block;
		margin-bottom: 27px;
	}
}
