.photos-item {
  // outline: 2px solid grey;
  padding: 20px;
  //margin-bottom: 20px;
  border-bottom: 1px solid @color-lightgrey;
}

.photos-item__title {
  .font-bold (14px, 24px);
  padding-top: 13px;
  margin: 0;
}

.photos-item__author {
  .font-regular-notrans (14px, 24px);
  color: @color-grey;
  padding: 0;
  margin: 0
}

@media @tablet-widths {
  .photos-item:first-child {
    width: 100%;
    min-height: 450px;
  }
  .photos-item {
    width: 324px;
    min-height: 350px;
  }
}
