.video {
	padding-top: 35px;
  text-align: center;
}
.video__text {
	margin-bottom: 35px;
  padding: 0 40px;
  .font-regular (14px, 24px);
  color: @color-grey;

	strong {
    display: block;
    margin-bottom: 35px;
		.font-bold (18px, 26px);
	}
}
